<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/style.css">
    <!-- Link to the external icon web -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <!-- Header with signup and login links -->
    <header>
        <div class="logo">
            <a href="/">
                <h1>URL Shortener</h1>
            </a>
        </div>
        <div class="auth-links">
            <% if (locals.noUser) { %>
                <a href="/login">
                    <i class="fas fa-sign-in-alt auth-icon" style="color: #74C0FC;"></i> Log In
                </a>
                <a href="/signup">
                    <i class="fas fa-user-plus auth-icon" style="color: #74C0FC;"></i> Sign Up
                </a>
            <% } else { %>
                <a>
                <i class="fa-solid fa-user auth-icon" style="color: #74C0FC;"></i> <%= createdBy %>
                </a>
                <a href="/logout">
                    <i class="fa-solid fa-right-from-bracket auth-icon" style="color: #74C0FC;"></i> Log Out
                </a>
            <% } %>
             
        </div>
    </header>
    <div class="container">
        <h2>Shorten Your URL</h2>
        <form action="/url" method="POST">
            <input type="url" name="url" placeholder="Enter your URL here" required>
            <button type="submit">Shorten URL</button>
        </form>

        <!-- Conditionally render the .id-div only if id is present -->
        <% if (locals.id) { %>
            <div class="id-div">
                <p>Generated ID: <a href="http://localhost:8001/url/<%= id %>">http://localhost:8001/url/<%= id %></a>
                </p>
            </div>
            <% } %>
    </div>

    <!-- Table container to separate table layout from the form -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>ShortID</th>
                    <th>Redirect</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% if (locals.urls && locals.urls.length> 0) { %>
                    <% urls.forEach((url, index)=> { %>
                        <tr>
                            <td>
                                <%= index + 1 %>
                            </td>
                            <td>
                                http://localhost:8001/url/<%= url.shortId %>
                            </td>
                            <td><a href="<%= url.redirectURL %>">
                                    <%= url.redirectURL %>
                                </a></td>
                            <td>
                                <%= url.visitHistory.length %>
                            </td>
                        </tr>
                        <% }) %>
                            <% } else { %>
                                <tr>
                                    <td colspan="4">No URLs shortened yet.</td>
                                </tr>
                                <% } %>
            </tbody>
        </table>
    </div>

</body>

</html>